[user]
  name = ntsk
  email = ntsk@ntsk.jp
  signingkey = 9BE9091730B3EF4B
[ghq]
  root = ~/.ghq
[core]
  editor = nvim -c \"set fenc=utf-8\"
[commit]
  gpgsign = true
[gpg]
  program = gpg
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
