# General
[[plugins]]
repo = 'Shougo/dein.vim'

[[plugins]]
repo = 'cespare/vim-toml'

# Tools
[[plugins]]
repo = 'scrooloose/nerdtree'

# Telescope
[[plugins]]
repo = 'nvim-lua/plenary.nvim'

[[plugins]]
repo = 'nvim-telescope/telescope.nvim'
depends = ['plenary.nvim']

[[plugins]]
repo = 'jistr/vim-nerdtree-tabs'

[[plugins]]
repo = 'thinca/vim-quickrun'
on_cmd = 'QuickRun'
hook_add = '''
  nnoremap <silent><Space>r :QuickRun -input =@+<CR>
  nnoremap <silent><leader>r :QuickRun<CR>
  let g:quickrun_config = {}
  let g:quickrun_config._ = {
      \ 'outputter/error/success': 'buffer',
      \ 'outputter/error/error': 'quickfix',
      \ 'outputter/quickfix/open_cmd': 'copen',
      \ 'runner': 'vimproc',
      \ 'runner/vimproc/updatetime': 60,
      \ 'hook/time/enable': 1
      \ }

  let g:quickrun_config.cpp = {
      \ 'command': 'g++',
      \ 'input': 'input',
      \ 'runner': 'system'
      \ }
'''

[[plugins]]
repo = 'Shougo/vimproc.vim'
build = 'make'

# Edit
[[plugins]]
repo = 'cohama/lexima.vim'
on_i = 1

[[plugins]]
repo = 'tpope/vim-surround'

[[plugins]]
repo = 'alvan/vim-closetag'
hook_add='''
  let g:closetag_filenames = '*.html,*.xhtml,*.phtml,*.xml,*.vue'
  let g:closetag_filetypes = 'html,xhtml,phtml,xml,vue'
'''

[[plugins]]
repo = 'Yggdroot/indentLine'

[[plugins]]
repo = 'ntpeters/vim-better-whitespace'

[[plugins]]
repo = 'mattn/emmet-vim'

[[plugins]]
repo = 'mechatroner/rainbow_csv'

# Appearance
[[plugins]]
repo = 'tomasr/molokai'

[[plugins]]
repo = 'itchyny/lightline.vim'
hook_add = '''
  let g:lightline = { 'colorscheme': 'wombat' }
'''

[[plugins]]
repo = 'nvim-treesitter/nvim-treesitter'
build = ':TSUpdate'
hook_add = '''
autocmd BufNewFile,BufRead *.vcl set filetype=vcl
autocmd BufNewFile,BufRead *.vcl.j2 set filetype=vcl
autocmd FileType vcl TSBufEnable highlight

function! s:setup_vcl_parser() abort
lua << EOF
local parser_config = require("nvim-treesitter.parsers").get_parser_configs()
parser_config.vcl = {
  install_info = {
    url = "https://github.com/ntsk/tree-sitter-vcl",
    files = {"src/parser.c"},
    branch = "main",
  },
  filetype = "vcl",
}
EOF
endfunction

autocmd VimEnter * call s:setup_vcl_parser()
'''
hook_post_source = '''
lua << EOF
  require('nvim-treesitter.configs').setup {
    auto_install = true,
    highlight = {
      enable = true,
      additional_vim_regex_highlighting = false,
    },
    indent = {
      enable = true
    },
  }
EOF
'''

# Lang
[[plugins]]
repo = 'fatih/vim-go'
hook_add='''
  let g:go_fmt_command = "goimports"
  let g:go_metalinter_autosave = 1
  let g:go_def_mapping_enable = 0
  let g:go_doc_keywordprg_enable = 0
'''

[[plugins]]
repo = 'tpope/vim-rails'

[[plugins]]
repo = 'previm/previm'
hook_add = '''
  let g:previm_open_cmd = 'open -a Google\ Chrome'
'''

[[plugins]]
repo = 'vim-denops/denops.vim'

# Lsp
[[plugins]]
repo = 'neovim/nvim-lspconfig'

[[plugins]]
repo = 'williamboman/mason.nvim'

[[plugins]]
repo = 'williamboman/mason-lspconfig.nvim'

# Music
[[plugins]]
repo = 'gruvw/strudel.nvim'
build = 'npm ci'
hook_add = '''
lua << EOF
local function setup()
  if vim.g.strudel_did_setup then
    return
  end
  vim.g.strudel_did_setup = true

  require("strudel").setup({ update_on_save = true })

  local strudel = require("strudel")

  vim.keymap.set("n", "<leader>sl", strudel.launch, { desc = "Launch Strudel" })
  vim.keymap.set("n", "<leader>sq", strudel.quit, { desc = "Quit Strudel" })
  vim.keymap.set("n", "<leader>st", strudel.toggle, { desc = "Strudel Toggle Play/Stop" })
  vim.keymap.set("n", "<leader>su", strudel.update, { desc = "Strudel Update" })
  vim.keymap.set("n", "<leader>ss", strudel.stop, { desc = "Strudel Stop Playback" })
  vim.keymap.set("n", "<leader>sb", strudel.set_buffer, { desc = "Strudel set current buffer" })
  vim.keymap.set("n", "<leader>sx", strudel.execute, { desc = "Strudel set current buffer and update" })
end

local function launch()
  setup()

  local strudel = require("strudel")
  if not strudel.is_launched() then
    strudel.launch()
  end
end

_G.StrudelLaunch = launch
EOF

augroup StrudelSetup
  autocmd!
  autocmd VimEnter * lua _G.StrudelLaunch()
  autocmd BufRead,BufNewFile *.str,*.std lua _G.StrudelLaunch()
augroup END
'''

