name: CI

on: [push, pull_request]

jobs:
  install-test:
    name: install_test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    steps:
    - name: checkout
      uses: actions/checkout@v6
      with:
        path: dotfiles
    - name: move to home
      run: mv dotfiles $HOME/dotfiles
    - name: run install.sh
      run: $HOME/dotfiles/bin/install.sh
    - name: validate
      run: |
        test -d $HOME/dotfiles
        test -L $HOME/.gitconfig
        test -L $HOME/.config/nvim
        echo "Installation test passed!"
