name: Update flake.lock

on:
  schedule:
    - cron: '0 1 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
      - uses: DeterminateSystems/update-flake-lock@v28
        with:
          path-to-flake-dir: nix/
          pr-title: "Update flake.lock"
          pr-labels: dependencies
